@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
.text-center{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container{
    border: 10px solid grey;
    width: 50%;
    border-radius:50px;
    padding:20px
    

}
.keys{
    margin:6px;
    padding: 25px;
    border: 2px solid grey;
    border-radius: 20%;
    box-shadow: 1px 1px 1px 1px rgb(82, 77, 77);
    font-family: 'Orbitron', sans-serif;
}
.m-w-20{
    max-width: 24%; 
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.keys:hover{
    cursor: pointer;
}
.display{
    margin-bottom: 8px;
}
.display input{
    padding:10px;
    width: 85%;
    border:5px solid grey;
    font-size:1.5rem;
    font-weight:bold
}
.plus{
    background-color: #e5f415;
}
.button{
    width: auto;
}
@media (max-width: 2068px) {
    h1{
        font-size: 1.5rem;
    }
    .container {
        padding: 5px;
        border-radius: 20px;
    }
    .keys {        
        font-size: 1.3rem; 
        padding: 6%;
        margin:7px;
    }

    .display input {
        width: 100%; 
        font-size: 1rem; 
        padding: 0%;
    }

    .button {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        padding: 2px;
        margin: 10px;
    }

}
